@keyframes example {
  0%   {left:-100%; top:0px;}
  100% {left:0%; top:0px;}
}
@keyframes example2{
  0%   {left:0%; top:-100%;}
  100% {left:0%; top:0%;}
}
@keyframes example3{
  0%   {left:0%; top:0%;}
  50%  {left:0%; top:1%;}
  100% {left:0%; top:0%;}
}
@keyframes example4{
  0%   {left:0%; top:0%;}
  50%  {left:0%; top:1%;}
  100% {left:0%; top:0%;}
}
@keyframes example5{
  0%  {transform: scale(0)}
  100% {transform: scale(1)}
}

body, html, mem-layout {
  margin: 0;
  display: flex;
  flex: 1;
  padding: 0;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(black, #5c017c 50%);
  box-sizing: border-box;
  box-shadow: inset 0px 0px 343px 0px black;
}


.app-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* border: 1px dotted yellow; */
  align-items: center;
}

mem-navbar {
  display: flex;
  /* flex: 2; */
  font-size: 1em;
  background: #292929;
  width: 100%;
  flex-direction: row;
  height: 50px;
  position: relative;
  animation-name: example2;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.app-content {
  display: flex;
  flex: 15;
  font-size: 1em;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* box-shadow: 13px -2px 4px -2px black; */
  /* height: 100%; */
  /* background: #ffffff54; */
  /* margin-top: 30px; */
  /* border-radius: 20px 20px 0 0; */
}

.logoNavbar {
  display: flex;
  flex: 1;
  color: WHITE;
  align-items: center;
  font-weight: bold;
  font-size: 2em;
  justify-content: center;
}

.menuNavbar {
  display: flex;
  flex-direction: row;
  flex: 4;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  /* animation-name: example; */
  /* animation-duration: 1s; */
  /* animation-fill-mode: forwards; */
}

button.navBarButton {
  border-radius: 10px;
  margin-right: 10px;
  height: 75%;
  cursor: pointer;
  color: #d5c6c6;
  background: #77179b;
  box-shadow: inset 0px 0px 19px 0px #000000ad;
}

mem-post-box {
  background: #621380;
  display: flex;
  flex-direction: column;
  width: 67%;
  height: 100px;
  justify-content: space-evenly;
  border-radius: 27px;
  align-items: center;
  /* margin: 35px; */
  box-shadow: 0px 6px 9px 0px #0202027d, inset 0px 0px 33px 0px #535252;
}

app-post-box {
}

mem-feed {
  display: flex;
  flex-direction: column;
  width: 59%;
  align-items: center;
  /* margin-top: 31px; */
  background: #9698988f;
  border-radius: 20px 20px 20px 20px;
  padding: 0px 0 0px 0px;
  justify-content: space-evenly;
  height: 673px;
  box-shadow: 0px 10px 31px 0px black, inset 0px 0px 106px 0px #535252;
  position: relative;
  animation-name: example;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

app-feed {
}

.postBoxInput {
  display: flex;
  width: 100%;
  justify-content: inherit;
}

input.input {
  height: 30px;
  border-radius: 10px;
  border: 0px;
  text-align: center;
  font-size: 1em;
  width: 50%;
}

input.input:focus {
  border: 0px;
  outline: 0px;
}


button.postButtonInput {
  border: 0px;
  border-radius: 9px;
  cursor: pointer;
}

.postBoxTitle {
  color: #c1c1c1;
}

.postContainer {
  background: grey;
  width: 95%;
  border-radius: 30px;
  /* margin: 0px; */
  box-shadow: 0px 4px 12px 0px black, inset 0px 0px 106px 0px #535252;
  position: relative;
  animation-name: example4;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

app-posts {
}

.postBox {
  margin: 24px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: inherit;
  padding: 10px;
}

.postBoxUserAndContent {
  display: flex;
  margin: 20px 0px 20px 0;
  flex-direction: row;
  justify-content: space-between;
}

.postUserInfo {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
}

.postContent {
  display: flex;
  flex: 5;
  font-size: 1em;
  padding: 10px;
  text-align: justify;
  /* background: #5d59592e; */
  flex-direction: row;
}

.postDateTimeDelete {
  display: flex;
  width: 100%;
  justify-content: center;
  font-size: 0.8em;
  /* padding: 10px; */
}

.postContainerWrapper {
  /* background: black; */
  display: flex;
  width: 90%;
  border-radius: 30px;
  /* margin: 0px; */
  flex-direction: column;
  overflow: auto;
  /* box-sizing: border-box; */
  height: 66%;
  /* align-items: center; */
  /* width: 100%; */
}


.postUserAvatar {
  width: 100px;
  height: 100px;
  background: azure;
  justify-content: center;
  align-items: center;
  margin: 0 0 9px 0;
  display: flex;
  border-radius: 50%;
  /* flex: 1; */
}

.postBox {
}

.deletePostButton {
  width: 45px;
  display: flex;
  justify-content: center;
  background: #6b6b6b;
  border-radius: 30px 15px 15px 30px;
  cursor: pointer;
  height: 33px;
}


.dateDeleteContainer {
  display: flex;
  justify-content: space-between;
  width: 90%;
  align-items: center;
}

.postUserName {
  display: flex;
}


img.deleteIcon {
  width: 27px;
}

.likeWrapper {
  display: flex;
  justify-content: space-around;
}

.likePostButton {
  background: #a220d1;
  width: 40px;
  justify-content: center;
  display: flex;
  height: 40px;
  border-radius: 23px;
  cursor: pointer;
  box-shadow:  inset 0px 0px 19px 0px #000000ad;
}

img.deleteIcon {
}

img.logo {
  margin: 0px 2px 0 0;
  height: 100%;
}

.logoBox {
  display: flex;
  height: 80%;
  align-items: center;
  cursor: pointer;
}

.loginContainer {
  display: flex;
  flex-direction: column;
  /* flex: 1; */
  background: #8e8e8eab;
  width: 60%;
  height: 60%;
  border-radius: 12px;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0px 10px 31px 0px black, inset 0px 0px 106px 0px #535252;
  position: relative;
  animation-name: example;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

mem-login {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
}


.createNewUser {
  width: 50%;
  background: aqua;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginContent {
  width: 60%;
  background: #232323;
  height: 41%;
  display: flex;
  justify-content: inherit;
  align-items: center;
  flex-direction: column;
  border-radius: 16px;
}


.login.buttons {
  display: flex;
  flex-direction: row;
  width: 131%;
  justify-content: inherit;
  flex: 3;
}

.login.buttons {
}

.loginButtonContainer {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.loginButtonContainer {
}

button.buttonLogin {
  display: flex;
  width: 90%;
  height: 73%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 10px;
}

button.buttonLogin {
}

.userSigned {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.userSigned {
}

.userName {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 2.2em;
  margin: 0 0 15px 0px;
}

.userName {
}

.logoBoxLogin {
  display: flex;
  font-size: 6.5em;
  font-weight: bold;
  color: white;
  align-items: center;
  /* background: coral; */
  /* border-radius: 28px; */
}

.likes {
  display: flex;
  flex-direction: column;
  font-size: 0.7em;
  align-items: center;
  background: aliceblue;
  padding: 4px;
  margin: 4px;
  border-radius: 16px;
  width: 27px;
  height: 27px;
}

img.likeAvatarIcon {
  width: 15px;
}

mem-user-profile {
  background: #c5c2c2;
  display: flex;
  margin: 40px;
  flex-direction: column;
  width: 80%;
  border-radius: 40px;
  height: 80%;
  box-shadow: 0px 10px 31px 0px black, inset 0px 0px 106px 0px #535252;
  position: relative;
  animation-name: example;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.userProfileContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background: aliceblue; */
  flex: 1;
  margin: 20px;
  /* box-shadow: 0px 10px 31px 0px black; */
}

.userBox {
  display: flex;
  flex: 2;
  /* background: aquamarine; */
  /* border: 1px dotted; */
  width: 100%;
  flex-direction: row;
}

.userprofilePostBox {
  display: flex;
  flex: 3;
  /* background: #bd9898; */
  width: 100%;
  /* border: 1px gold dotted; */
  flex-direction: row;
  height: 50%;
}

.userAvatarBox {
  /* background: aliceblue; */
  display: flex;
  flex: 1;
  /* background-size: 53%; */
  /* background-repeat: no-repeat; */
  justify-content: center;
  align-items: flex-end;
  background-position: center;
  border-radius: 20px;
  /* height: 70%; */
  /* width: 27%; */
}

.userInfo {
  display: flex;
  flex-direction: column;
  /* background: #3386ce; */
  flex: 2;
}

.userCreatedPosts {
  display: flex;
  flex: 1;
  /* background: aqua; */
  flex-direction: column;
  overflow: auto;
}

.userLikedPosts {
  display: flex;
  flex: 1;
  flex-direction: column;
  background: beige;
  overflow: auto;
}


loginFormContent {
  background: aqua;
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
}


.inputLoginBox {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 6;
  align-items: center;
  justify-content: space-around;
}

loginFormBox {
  display: flex;
  background: azure;
}

form.loginFormBox {
  margin: 15px;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
}


.counter {font-size: 2em;display: flex;justify-content: center;align-items: center;margin: 0px 0px 0px 7px;cursor: pointer;}


.likeBox {
    display: flex;
    flex-direction: row;
}

div {}

.likesAvatarBox {
    background: #b7bfc7f5;
    position: relative;
    border-radius: 10px;
    margin-top: 0;
    margin: -69px -126px 2px -140px;
    width: 200px;
    height: 100px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: auto;
    animation-name: example5;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    box-shadow: 0px 3px 18px 0px #00000066, inset 0px 0px 45px 0px #0000007a;
}

textarea.inputArea {
    resize: none;
    text-align: center;
    border-radius: 10px;
}

.currentUser {
    margin: 23px;
    font-size: 1.5em;
    color: #a20bdc;
    cursor: default;
}

.userprofilePostBox {}

.userPostBox {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 10px 10px 10px 20px;
    /* overflow: auto; */
    height: 300px;
}

.userLikedPostBox {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 10px 20px 10px 10px;
}

.postDetails {
    display: flex;
    flex-direction: row;
    /* background: azure; */
    border-radius: 5px;
    height: 38px;
    width: 100%;
    justify-content: center;
    transition: all 0.1s ease-out;
    cursor: pointer;
    position: relative;
    animation-name: example2;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.indexOfPost {
    background: grey;
}

.postDetailsContent {
    display: flex;
    background: #efefef;
    margin: 5px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 3px 4px 9px -5px black;
}

.postIndexDetails {
    width: 10%;
}

.postContentDetails {
    width: 50%;
}

.postTimeDetails {
    width: 20%;
    display: flex;
    flex-direction: column;
}

.date {
    display: flex;
    flex: 1;
}

.time {
    display: flex;
    flex: 1;
}

.dateDetails {
    display: flex;
    flex: 1;
    font-size: 0.7em;
}

.postCreated {
    display: flex;
    width: 100%;
    justify-content: center;
    font-weight: bold;
    margin: 0 0 10px 0px;
}


.userCreatedPosts::-webkit-scrollbar {
    display: none;
}

.postContainerWrapper::-webkit-scrollbar {
    display: none;
}

mem-post {
    /* box-shadow: 18px 4px 16px 9px black; */
    display: flex;
    /* flex: 1; */
    margin: 20px;
    justify-content: center;
}

.button:hover {
    transform: scale(1.1);
    box-shadow: 0px 4px 7px 0px black, inset 0px 0px 19px 0px #000000ad;
}

.button {
    transition: all 0.1s ease-out;
    border-style: none;
}

.button:focus {outline: none;background: #4a1c5b;box-shadow: inset 0px 0px 19px 0px #000000ad;}

.button:active {
    border-style: none;
    transform: scale(1.0);
    box-shadow: 0px 0px 0px 0px black;
    box-shadow: inset 0px 0px 19px 0px #000000ad;
}

.postDetails:hover {
    transform: scale(1.1);
}

.partLikeBox {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.likeBoxCounter {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: aliceblue;
    height: 60px;
    width: 144px;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0px 5px 6px 0px #0000002e, inset 0px 0px 19px 0px #5352527a;
}

.likeCounter {
    font-size: 2em;
    font-weight: bold;
    position: relative;
    animation-name: example5;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    color: #464646;
}


.userAvatar {
    background: aliceblue;
    display: flex;
    /* flex: 1; */
    background-size: 53%;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    background-position: center;
    border-radius: 20px;
    height: 150px;
    width: 150px;
}

.input {
    transition: all 0.2s ease-out;
    border-style: none;
}

.input:focus {
    outline: none;
    /* background: #fefefebf; */
    box-shadow: 0px 0px 16px 0px black;
}

.input:active {
    border-style: none;
    transform: scale(1.0);
    box-shadow: 0px 0px 0px 0px black;
}


.logo {
    width: 150px;
    height: 150px;
    display: flex;
    background-repeat: no-repeat;
    background-size: 100%;
}

img.logoFace {
    position: relative;
    height: 12%;
    margin: 35px 0px 0px 19px;
    animation-name: example3;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}


img.logoHand {
    position: relative;
    height: 9%;
    margin: 25px 0 0px 37px;
    animation-name: example3;
    animation-duration: 1.2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

textarea.inputArea.input {}

.logoBoxNavbar {
    display: flex;
    flex-direction: row;
    height: 80%;
    align-items: center;
}


.newDiv {
    animation-name: example4;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    position: relative;
}


.postUserPreview {
    position: absolute;
    /* background: aqua; */
    width: 600px;
    height: 200px;
    margin: -290px 0 0 -281px;
    /* display: flex; */
    /* justify-content: center; */
}