<div class="logoNavbar button" >
  <div class="logoBoxNavbar" (click)="routeToFeed()">
    <img class="logoSmall" src="./assets/svg/memeLogo.svg" alt="" height="90%">
    <div class="textFromLogo">EMEZ</div>
  </div>

</div>

<div class="menuNavbar">
  <div class="currentUser">
    {{this.root.lgs.currentUser.name}} is logged in
  </div>
  <button class="navBarButton button" (click)="routeToLogin()">Login</button>
  <button class="navBarButton button" (click)="routeToProfile()">Profile</button>
  <button class="navBarButton button" (click)="routeToFeed()">Feed</button>
</div>
